body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  margin-top: 10rem;
}

:root {
  --widget-gradient: linear-gradient(to bottom, #2c3e50, #0a0c0f);
  --container-width-lg: 90%;
  --container-width-sm: 86%;
  --color-gray: #f5f5f5;
  --color-green: #2ecc71;
  --color-green-not-active: rgba(46, 204, 113, 0.6);
  --color-primary: #2c3e50;
  --color-white: #fff;
  --color-black: #000000;
  --color-danger: #ff0000;
  --transition: all 200ms ease;
  --glass-gradient: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  --swiper-theme-color: #2ecc71 !important;
  --swiper-pagination-bullet-size: 15px !important;
  --swiper-pagination-bullet-inactive-color: #fff !important;
}

/* Button */
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0.1rem 0.75rem;
  border: none;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.7rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
}

.btn-primary {
  background-color: var(--color-green);
  color: var(--color-primary);
}

.btn-primary:hover {
  background-color: var(--color-green-not-active);
  transition: background-color var(--transition);
}

.btn-primary.disabled,
.btn-primary:disabled {
  opacity: 0.65;
}

.btn-secondary {
  color: var(--color-white);
  background-color: var(--color-danger);
}

.btn-secondary:hover {
  background-color: var(--color-green);
  transition: background-color var(--transition);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  opacity: 0.65;
}

/* Home page */
#product {
  background: var(--widget-gradient);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Welcome {
  color: var(--color-green);
  z-index: 1;
  margin-right: -30rem;
  padding-left: 7rem;
}

.welcome-image {
  z-index: 0;
}
.subtitle {
  text-transform: uppercase;
  font-size: 55px;
  letter-spacing: 1.3rem;
}
.title {
  text-transform: uppercase;
  font-size: 55px;
  margin: 0;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .Welcome {
    margin-right: 0;
    padding-left: 1.2rem;
    position: absolute;
    top: 7rem;
  }
  .welcome-image {
    scale: 0.23;
    position: absolute;
    bottom: -8rem;
    left: -12rem;
  }
  .subtitle {
    font-size: 20px;
    letter-spacing: 8px;
  }
  .title {
    font-size: 24px;
  }
  .landing {
    position: absolute;
    left: -5rem;
  }
  #product {
    display: block;
    position: relative;
    height: 20rem;
  }
}
.title_featured {
  margin-top: 7rem;
  padding-top: 3rem;
  width: 100%;
  font-size: 2.2rem;
  text-align: center;
  color: var(--color-green);
}
#feature-categories {
  background: var(--widget-gradient);
}
@media screen and (max-width: 768px) {
  .products {
    width: 95%;
    height: 95%;
  }
  #feature-categories {
    padding-left: 0;
  }
  .title_featured {
    font-size: 1.9rem;
  }
  .product-card {
    width: 100%;
    padding: 10px;
    /* margin-left: 100px; */
  }
}

/* Cart component */
.product-card {
  border: 1px solid #ccc;
  border-radius: 50px;
  /* overflow: hidden; */
  width: 2rem;
  background: var(--glass-gradient);
}

.product-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.product-title {
  margin-bottom: 8px;
  font-size: 2.3rem;
  color: var(--color-white);
}

.product-price {
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 400;
  width: max-content;
  color: var(--color-white);
  text-align: center;
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products {
  width: 60%;
  height: 60%;
}
.buyBtn {
  color: var(--color-white);
  font-size: 0.9rem;
  margin-bottom: 10px;
}

/* New arrival */

.arrival-title {
  font-weight: 500;
  margin-bottom: 0;
  font-size: 1.7rem;
  color: var(--color-primary);
}

.arrival-price {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 700;
  color: var(--color-primary);
  text-align: center;
  width: 100%;
}
.cartBtn {
  color: var(--color-white);
  font-size: 0.9rem;
  margin-bottom: 10px;
  display: inline;
  margin-left: 10px;
}
.arrival-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.grid {
  background-color: var(--color-gray);
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .arrival-categories {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}

/* Shopping card */
.title-shopping {
  color: var(--color-primary);
  text-align: center;
}
.shopping-cart {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0;
  height: 10px;
  position: relative;
  border-radius: 5px;
  background-color: var(--color-gray);
}

.progress {
  background: var(--color-green);
  border-radius: 5px;
  height: 10px;
  transition: var(--transition);
}

.truck {
  font-size: 20px;
  margin-left: 5px;
  transform: rotateX(-180deg);
  transform: rotateY(180deg);
}

.cart-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.cart-items {
  margin-top: 20px;
}

.cart-item {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: var(--color-gray);
  justify-content: space-between;
}

.cart-item img {
  max-width: 100px;
  margin-right: 10px;
}

.item-details {
  /* flex-grow: 1; */
  width: 30%;
}

.variation {
  display: flex;
  align-items: center;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button {
  background: none;
  border: 1px solid #ddd;
  padding: 5px 10px;
  cursor: pointer;
}

.quantity-control span {
  font-size: 20px;
  margin: 0 10px;
}

.item-actions {
  display: flex;
  align-items: center;
}

.heart-icon {
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
}

.heart-icon.favorite {
  color: var(--color-danger);
}

.remove-icon {
  position: absolute;
  cursor: pointer;
  font-size: 16px;
  color: var(--color-white);
  top: 4px;
  right: 4px;
  background-color: var(--color-black);
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
